/* assign text color - background color using vars */
$maincolor:#3D3D3D;
$backgroundcolor:#6D6D6D;


body {
  color: $maincolor;
  background-color: $backgroundcolor; }

p {
  color: $maincolor; }

h2 {
  background-color: $backgroundcolor; }